body{
    /*background: white url("images/background.jpg");*/
    background-color: aliceblue;

}

.caption-title{



width: 175px ; height: 50px;

}
.caption-statuss{

width:175px;  display: block;background-color: red; color:white; margin:0px 0px 0px 0px; ;
}
h2.title{


    font-size: 20px ;margin-top: 20px; margin-bottom: 10px
}
.caption-title {

    display: block;
    background-color: papayawhip;
    color: black;
    width: 175px;
    height: 50px;
    margin: 0px 0px 5px;
}
#uptrip{
    background-color: green;
}
.thumbnail{ width: 200px ; height: 350px;}
img.container-img{width: 200px ; height: 100px;}

.thumbnail .caption {
    padding: 0px 7px;
    color: #333;
}
div.caption-prince{

    padding-top: 30px;
}
#caption-price-id{
       padding-top: 0px;

}
#thumbnail-question{
   width: 300px ; height: 150px;
}
/*tooltip*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}