{%  extends 'trips/base.html' %}

<title>{% block title %}Admin Panel{% endblock %}</title>

{%  block body %}





<div class="albums-container container-fluid" style="height:400px">

    <!-- Trips -->
    <div class="row "  >

            {% for trip in trips %}
                    {% if trip.check_time %}

                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'trips:detail' trip.id %}">
                            <img style="width: 200px ; height: 100px;" src="{{ trip.trip_image1.url }}" class="img-responsive">
                        </a>
                        <div class="caption">

                            <div class="caption-title">

                                <h2 class="title" >{{ trip.name }}</h2> </div>
                            <div class="caption-statuss" id="uptrip" ><span>Upcoming Trips</span></div>
                            <div class="caption-desc" style="width: 175px ; height: 85px; overflow: auto">
                                <p style="font-size: 12px">{{ trip.description }}</p>

                            </div>
                            <div class="caption-prince">
                                <h4 style="text-align: right ;"> {{ trip.adult_price }}</h4></div>
                        </div>
                    </div>
                </div>
                   {% else %}

                <div class="col-sm-4 col-lg-2" >
                    <div class="thumbnail">
                        <a href="{% url 'trips:detail' trip.id %}">
                            <img  style="width: 200px ; height: 100px;" src="{{ trip.trip_image1.url }}" class="img-responsive">
                        </a>
                        <div class="caption" >

                            <div class="caption-title">

                                <h2 class="title">{{ trip.name }}</h2> </div>
                                <div class="caption-statuss" ><span>Past Trips</span></div>

                            <div class="caption-desc" style="width: 175px ; height: 85px; overflow: auto; ">
                                <p style="font-size: 12px">{{ trip.description }}</p>

                            </div>
                            <div class="caption-prince">
                                <h4 style="text-align: right ;"> {{ trip.adult_price }}</h4></div>

    </div>
        </div>
        </div>
  {% endif %}
          {%  endfor %}
    </div>

    </div>








<div  >


            {% for question in questions %}
                <div class="col-lg-3">
                 <div class="thumbnail" id="thumbnail-question" >

                     <p><br>New Questions was asked <br> by {{ question.asked_by }}</p>


                     <p>on trip: <a href = "{% url 'trips:detail' question.Q_trip.pk %}"> {{ question.Q_trip }}</a></p>

                     <p>at: {{ question.asked_at }} </p>

                 </div>
                </div>
            {%  endfor %}


    </div>



{%  endblock %}