{%  extends 'trips/base.html' %}

<title>{% block title %}Admin Panel{% endblock %}</title>

{%  block body %}



    <div>
        <ul>
            {% for trip in trips %}

                {% if trip.check_time %}
                 <li>
                     <a href = "{% url 'trips:detail' trip.id %}"> {{ trip.name }}</a>
                     <span>Upcoming Trips</span>
                     <p>from: {{ trip.origin  }} - to: {{ trip.destination  }}</p>
                     <p>from: {{ trip.departing_date  }} - to: {{ trip.returning_date  }}</p>
                     <p>Type of transportation: {{ trip.get_transportstion_display }} </p>
                     <p>Type of residence: {{ trip.get_residence_display }} </p>
                     <p>Total cost per persons: {{ trip.adultprice }} L.E</p>
                 <br>
                 </li>

                {% else %}
                 <li>
                     <a href = "{% url 'trips:detail' trip.id %}"> {{ trip.name }}</a>
                     <span>Past Trip</span>
                     <p>from: {{ trip.origin  }} - to: {{ trip.destination  }}</p>
                     <p>from: {{ trip.departing_date  }} - to: {{ trip.returning_date  }}</p>
                     <p>Type of transportation: {{ trip.get_transportstion_display }} </p>
                     <p>Type of residence: {{ trip.get_residence_display }} </p>
                     <p>Total cost per persons: {{ trip.adultprice }} L.E</p>
                 <br>
                 </li>
                {% endif %}
            {%  endfor %}
        </ul>

    </div>

<div>
        <ul>

            {% for question in questions %}
                 <li>
                     <p>New Questions was asked by {{ question.asked_by }} on Trip</p>
                     <a href = "{% url 'trips:detail' question.Q_trip.pk %}"> {{ question.Q_trip }}</a>
                     <p>at: {{ question.asked_at }} </p>
                 <br>
                 </li>
            {%  endfor %}
        </ul>

    </div>



{%  endblock %}