{% extends 'trips/base.html' %}
<title>{% block title %}Trip Details{% endblock %}</title>

{% load humanize %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
    <script src="{% static 'js/simplemde.min.js' %}"></script>
    <script>
        var simplemde = new SimpleMDE();
    </script>

{% endblock %}

{% block body %}
    <!-- Trip Details -->
    <div>
        <div class="col-sm-4 col-lg-12">
            <div class="thumbnail" style="width: 700px ; height: 600px; margin: auto;  ">

                <h1>{{ trip.name }}</h1>

                <img style="width: 600px ; height: 250px;" src="{{ trip.trip_image1.url }}" class="img-responsive">

                <p>from: {{ trip.origin }} - to: {{ trip.destination }}</p>
                <p>decription: {{ trip.description }} per</p>

                <p>from: {{ trip.departing_date }} - to: {{ trip.returning_date }}</p>
                <p>Type of transportation: {{ trip.get_transportstion_display }} </p>
                <p>Type of residence: {{ trip.get_residence_display }} </p>
                <p>Adult price: {{ trip.adult_price }} L.E</p>
                {% if user.is_staff %}
                    <p>Reserve: {{ trip.get_no_of_reservation }} </p>
                {% endif %}


            </div>


            <!-- Admin contol -->
            {% if user.is_staff %}
                <div class="thumbnail" style="width: 700px ; height: 45px;  margin: auto;">
                    <div class="row">
                        <div class="col-lg-1"></div>

                        <div class="col-lg-4">

                            <!-- Update Trip -->
                            <a href="{% url 'trips:trip-update' trip.id %}" class="btn btn-info" role="button"
                               style="width: 250px ; height: 30px;">
                                <span class="glyphicon glyphicon-refresh"></span>&nbsp; Update
                            </a>
                        </div>

                        <div class="col-lg-1"></div>

                        <div class="col-lg-4">
                            <!-- Delete Trip -->

                            <form action="{% url 'trips:delete_trip' trip.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="trip_id" value="{{ trip.id }}"/>
                                <button style="width: 250px ; height: 30px;" type="submit" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span>&nbsp; Delete
                                </button>
                            </form>
                        </div>


                        <div class="col-lg-2"></div>

                    </div>
                </div>

            {% endif %}

            <!-- User Bookin -->

            <div class="col-sm-4 col-lg-12">
                <div class="thumbnail" style="width: 700px ; height: 60px; margin: auto;">
                    {% if trip.capacity > trip.get_no_of_reservation %}
                        <form class="btn btn-default btn-sm" role="" method="get"
                              action="{% url 'trips:book' trip.id %}">
                            <button style="height: 30px; width: 550px" type="submit" class="btn btn-success">Book
                            </button>
                        </form>
                    {% else %}
                        <form class="btn btn-default btn-sm" role="" method="" action="#">
                            <button style="height: 30px; width: 550px" type="" class="btn btn-success">Book</button>
                        </form>
                    {% endif %}
                </div>
            </div>

            <!-- User Questions -->
            <div>

                {% for question in trip.question_set.all %}

                    {% if question.reply_to is 0 %}
                       <div class="col-sm-4 col-lg-12">
                        <div class="thumbnail" style="width: 700px ; height: -webkit-fit-content; margin: auto; border: 1px  solid; ">
                        <div class="card mb-2">
                            <div class="card-body p-3">
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <strong class="text-muted">{{ question.asked_by }}</strong>
                                        <small class="text-muted">{{ question.asked_at|naturaltime }}</small>
                                    </div>
                                    <div class="col-6 ">
                                        {{ question.get_message_as_markdown }}
                                    </div>
                                </div>

                                <div style="padding-left: 80px ;">
                                    <div>
                                        {% for re_question in trip.question_set.all %}
                                        {% if re_question.reply_to is question.id  %}
                                            <div class="card mb-2">
                                                <div   class="card-body p-3">
                                                    <div class="row mb-3">
                                                        <div class="col-6">
                                                            <strong class="text-muted">{{ re_question.asked_by }}</strong>
                                                            <small class="text-muted">{{ re_question.asked_at|naturaltime }}</small>
                                                        </div>

                                                        <div class="col-6 ">
                                                            {{ re_question.get_message_as_markdown }}
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                <div>
                                        <form class="" role="" method="post"
                                              action="{% url 'trips:reply_question' trip.id question.id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input class="" name="c" type="text" value="{{ request.POST.c }}"
                                                       placeholder="Your comment..."/>
                                            </div>
                                            <button type="submit" class="btn btn-success">reply</button>
                                        </form>

                                    </div>
                                </div>
                            </div>

                        </div>
                        </div>
                        </div>
                    {% endif %}
                {% endfor %}

                <div>
                    <div class="col-sm-4 col-lg-12">
                        <div class="thumbnail" style="width: 700px ; height: 60px; margin: auto;">
                            <form class="" role="" method="post" action="{% url 'trips:new_question' trip.id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input style="height: 45px; width: 350px;" class="" name="c" type="text"
                                           value="{{ request.POST.c }}" placeholder="Your comment..."/>
                                    <button style="height: 45px; width: 125px" type="submit" class="btn btn-success">
                                        &nbsp;add comment
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}