{%  extends 'trips/base.html' %}
<title>{% block title %}Trip Details{% endblock %}</title>

{%  block body %}
    <!-- Trip Details -->
        <div>

                     <h1>{{ trip.name }}</h1>
                     <p>from: {{ trip.origin  }} - to: {{ trip.destination  }}</p>
                     <p>from: {{ trip.departing_date  }} - to: {{ trip.returning_date  }}</p>
                     <p>Type of transportation: {{ trip.get_transportstion_display }} </p>
                     <p>Type of residence: {{ trip.get_residence_display }} </p>
                     <p>Adult price: {{ trip.adult_price }} L.E</p>
                     <p>Kid price: {{ trip.adult_price }} L.E</p>

    </div>
        <!-- Admin contol -->
        {% if user.is_staff  %}
        <div>
            <!-- Delete Trip -->
            <form action="{% url 'trips:delete_trip' trip.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="trip_id" value="{{ trip.id }}" />
                <button type="submit" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>&nbsp; Delete
                </button>
            </form>

            <!-- Update Trip -->
            <a href="{% url 'trips:trip-update' trip.id %}" class="btn btn-default btn-sm" role="button">
                <span class="glyphicon glyphicon-refresh"></span>&nbsp; Update
            </a>

        </div>
        {% endif %}
        <!-- User Bookin -->



        <!-- User Questions -->

<ul>
            {% for question in trip.question_set.all %}
                 <li>
                     <p>New Questions was asked by {{ question.asked_by }} on Trip</p>
                     <a href = "{% url 'trips:detail' question.Q_trip.pk %}"> {{ question.Q_trip }}</a>
                     <p>at: {{ question.asked_at }} </p>
                 <br>
                 </li>
            {%  endfor %}

</ul>






{%  endblock %}