{% extends 'trips/base.html' %}

<title>{% block title %}Services{% endblock %}</title>

{% block body %}

     <div style="margin-top: 4%; height: -webkit-fit-block;" class="container signin-container">
        <div class="row">
            <div class="col-lg-3"></div>

            <div class="col-md-12  col-md-8 col-lg-6 ">

            <div  style=" height: 250px; margin: auto; padding: 60px 50px 10px ;background-color: #f4f4f4;box-shadow: 2px 2px 5px rgba(0,0,0,.5);-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.5);-moz-box-shadow: 2px 2px 5px rgba(0,0,0,.5);" class="card signin-card">

<h1>Sorry, Trip is already <strong>Full</strong>.</h1>

 </div>
      </div>


            </div>
      </div>

            <div class="col-lg-3"></div>


        </div>

    </div>

{% endblock %}