{%  extends 'trips/base.html' %}

{%  block body %}

<div class="albums-container container-fluid" style="height:-webkit-fit-block">

    <!-- Trips -->
    <div class="row "  >

            {% for trip in all_trips %}
                                {%  if trip.check_time %}

                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail" style="width: 200px ; height: 320px;">
                        <a href="{% url 'trips:detail' trip.id %}">
                            <img style="width: 200px ; height: 100px;" src="{{ trip.trip_image1.url }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <div class="caption-title" style="width: 175px ; height: 50px;">
                                <h2 style="font-size: 20px">{{ trip.name }}</h2> </div>
                  <div class="caption-desc" style="width: 175px ; height: 85px; overflow: auto; ">
                                <p style="font-size: 12px">{{ trip.description }}</p>

                            </div>
                            <div class="caption-prince" id="caption-price-id">
                                <h4 style="text-align: right ;"> {{ trip.adult_price }}</h4>
                            </div>


</div>
        </div>
        </div>
                {% endif %}
          {%  endfor %}
    </div>

    </div>


{%  endblock %}