{% extends 'trips/base.html' %}

{% block title %}Reply to Question{% endblock %}

{% block body %}

<div class="col-sm-4 col-lg-12">
                    <div class="thumbnail" style="width: 600px ; height: 200px; margin: auto;">



<div class="col-lg-8">

  <form method="post" novalidate="">
    <input type="hidden" name="csrfmiddlewaretoken" value="vsvskx1oIqxj0rhlkKLdiKk7Sn5kngOp4PXQvndS6a2FrtsYbunnGV0cl5rY4ek2">




  <div class="form-group">
    <label for="id_Q_content">Q content:</label>


<p><a href="#" data-toggle="popover" data-placement="bottom" title="Required" data-content="The max length of the text is 400."> <textarea name="Q_content" cols="40" rows="5" placeholder="Leave a comment" maxlength="400" class="<textarea name=&quot;Q_content&quot; cols=&quot;40&quot; rows=&quot;5&quot; placeholder=&quot;Leave a comment&quot; maxlength=&quot;400&quot; required id=&quot;id_Q_content&quot;>
</textarea>" required="" id="id_Q_content"></textarea></a>

  </div>
</div>


    <button type="submit" class="btn btn-success" style="height: 50px; width: 400px;">reply</button>
  </form>


</div>
        <div class="col-lg-12">.</div>
                <div class="col-lg-12">.</div>

</div>
        <div class="col-lg-12">.</div>
                <div class="col-lg-12">.</div>

</div>

        <div class="col-lg-12">.</div>
        <div class="col-lg-12">.</div>


<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
{% endblock %}
