{%  extends 'trips/base.html' %}

<title>{% block title %}Sign up{% endblock %}</title>

{%  block body %}
    <div class="col-lg-2 " ></div>
        <div class="col-sm-12  col-md-8 col-lg-8 " >
             <div class="card signin-card " style="height: 500px;margin: auto;background-color: #f4f4f4;box-shadow: 2px 2px 5px rgba(0,0,0,.5);-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.5);-moz-box-shadow: 2px 2px 5px rgba(0,0,0,.5);padding-top: 5px;width: 540px;" >

                <h3 class="card-title">Sign up</h3>
                <form method="post" novalidate="">
                    {%  csrf_token %}
                    <p>
                        <label for="id_first_name">First name:</label>
                        <input style="background-color: #fff3cd" type="text" name="first_name" maxlength="30" id="id_first_name">
                    </p>
                    <p>
                        <label for="id_last_name">Last name:</label>
                        <input style="background-color: #fff3cd" type="text" name="last_name" maxlength="30" id="id_last_name">
                    </p>
                    <p>
                        <label for="id_username">Username:</label>
                        <a href="#" data-toggle="popover" title="Required" data-content="150 characters or fewer. Letters, digits and @/./+/-/_ only.">
                            <input style="background-color: #fff3cd" type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">
                        </a>
                    </p>
                    <p>
                       <label for="id_email">Email:</label>
                        <input style="background-color: #fff3cd" type="email" name="email" maxlength="30" required="" id="id_email">
                    </p>
                    <p>
                        <label for="id_password1">Password:</label>
                        <a href="#" data-toggle="popover" title="Your password" data-content="Can't be too similar to your other personal information.       must contain at least 8 characters.    can't be a commonly used password.       can't be entirely numeric."> <input style="background-color: #fff3cd" type="password" name="password1" required="" id="id_password1">
                        </a>
                    <p>
                    <label for="id_password2">Password confirmation:</label>
                    <a href="#" data-toggle="popover" title="Required" data-content="Enter the same password as before, for verification."> <input style="   background-color: #fff3cd" type="password" name="password2" required="" id="id_password2">
                    </a>
                    <br>
                     <button type="submit" style="color: whitesmoke; background-color:green; width:40%; margin: auto;" class="btn btn-primary btn-block">Create an account</button>
                </form>
             </div>
            <div class="col-lg-2 "></div>
            <div>----------------------------------------------------------------</div>

        </div>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>















{%  endblock %}